<a href="https://colab.research.google.com/github/Nikhil5566/EDA-Prostate-cancer-dataset-/blob/main/EDA_on_EPL_Analysis%26_Prediction_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
dataFile = './England CSV.csv'

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv(dataFile)
df.head()

,Date,Season,HomeTeam,AwayTeam,FTH Goals,FTA Goals,FT Result,HTH Goals,HTA Goals,HT Result,...,H Fouls,A Fouls,H Corners,A Corners,H Yellow,A Yellow,H Red,A Red,Display_Order,League
0,16/01/2025,2024/25,Ipswich Town,Brighton & Hove Albion,0,2,A,0.0,1.0,A,...,13.0,14.0,1.0,9.0,2.0,2.0,0.0,0.0,20250116,Premier League
1,16/01/2025,2024/25,Man United,Southampton,3,1,H,0.0,1.0,A,...,7.0,10.0,4.0,4.0,1.0,3.0,0.0,0.0,20250116,Premier League
2,15/01/2025,2024/25,Everton,Aston Villa,0,1,A,0.0,0.0,D,...,17.0,10.0,8.0,5.0,2.0,1.0,0.0,0.0,20250115,Premier League
3,15/01/2025,2024/25,Leicester,Crystal Palace,0,2,A,0.0,0.0,D,...,7.0,6.0,4.0,3.0,0.0,0.0,0.0,0.0,20250115,Premier League
4,15/01/2025,2024/25,Newcastle,Wolves,3,0,H,1.0,0.0,H,...,10.0,13.0,4.0,2.0,0.0,2.0,0.0,0.0,20250115,Premier League

1. **EDA**

In [11]:
# Display the columns:

print(df.columns)

Index(['Date', 'Season', 'HomeTeam', 'AwayTeam', 'FTH Goals', 'FTA Goals',
       'FT Result', 'HTH Goals', 'HTA Goals', 'HT Result', 'Referee',
       'H Shots', 'A Shots', 'H SOT', 'A SOT', 'H Fouls', 'A Fouls',
       'H Corners', 'A Corners', 'H Yellow', 'A Yellow', 'H Red', 'A Red',
       'Display_Order', 'League'],
      dtype='object')

In [12]:
# Information of Dataset:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12153 entries, 0 to 12152
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           12153 non-null  object
 1   Season         12153 non-null  object
 2   HomeTeam       12153 non-null  object
 3   AwayTeam       12153 non-null  object
 4   FTH Goals      12153 non-null  int64
 5   FTA Goals      12153 non-null  int64
 6   FT Result      12153 non-null  object
 7   HTH Goals      11229 non-null  float64
 8   HTA Goals      11229 non-null  float64
 9   HT Result      11229 non-null  object
 10  Referee        9329 non-null   object
 11  H Shots        9329 non-null   float64
 12  A Shots        9329 non-null   float64
 13  H SOT          9329 non-null   float64
 14  A SOT          9329 non-null   float64
 15  H Fouls        9329 non-null   float64
 16  A Fouls        9329 non-null   float64
 17  H Corners      9329 non-null   float64
 18  A Corners      9329 non-null   float64
 19  H Yellow       9329 non-null   float64
 20  A Yellow       9329 non-null   float64
 21  H Red          9329 non-null   float64
 22  A Red          9329 non-null   float64
 23  Display_Order  12153 non-null  int64
 24  League         12153 non-null  object
dtypes: float64(14), int64(3), object(8)
memory usage: 2.3+ MB

In [14]:
# Description of statistics:

print(df.describe())

          FTH Goals     FTA Goals     HTH Goals     HTA Goals      H Shots  \
count  12153.000000  12153.000000  11229.000000  11229.000000  9329.000000
mean       1.531309      1.160948      0.689554      0.511265    13.618716
std        1.306927      1.147714      0.838796      0.731610     5.349420
min        0.000000      0.000000      0.000000      0.000000     0.000000
25%        1.000000      0.000000      0.000000      0.000000    10.000000
50%        1.000000      1.000000      0.000000      0.000000    13.000000
75%        2.000000      2.000000      1.000000      1.000000    17.000000
max        9.000000      9.000000      5.000000      5.000000    43.000000

           A Shots        H SOT        A SOT      H Fouls      A Fouls  \
count  9329.000000  9329.000000  9329.000000  9329.000000  9329.000000
mean     10.784543     6.007503     4.704684    11.303462    11.781113
std       4.678710     3.275177     2.757288     3.752442     3.931377
min       0.000000     0.000000     0.000000     0.000000     1.000000
25%       7.000000     4.000000     3.000000     9.000000     9.000000
50%      10.000000     6.000000     4.000000    11.000000    12.000000
75%      14.000000     8.000000     6.000000    14.000000    14.000000
max      31.000000    24.000000    20.000000    33.000000    29.000000

         H Corners    A Corners     H Yellow     A Yellow        H Red  \
count  9329.000000  9329.000000  9329.000000  9329.000000  9329.000000
mean      6.056383     4.770715     1.462536     1.785722     0.062386
std       3.107327     2.746754     1.215747     1.285168     0.252706
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       4.000000     3.000000     1.000000     1.000000     0.000000
50%       6.000000     4.000000     1.000000     2.000000     0.000000
75%       8.000000     6.000000     2.000000     3.000000     0.000000
max      20.000000    19.000000     7.000000     9.000000     3.000000

             A Red  Display_Order
count  9329.000000   1.215300e+04
mean      0.085968   2.008629e+07
std       0.291579   9.224046e+04
min       0.000000   1.993081e+07
25%       0.000000   2.001010e+07
50%       0.000000   2.009012e+07
75%       0.000000   2.017012e+07
max       2.000000   2.025012e+07

In [20]:
# Display the rows the columns numbers:

print(df.shape)

(12153, 25)

In [21]:
# Display the type of data:
print(df.dtypes)

Date              object
Season            object
HomeTeam          object
AwayTeam          object
FTH Goals          int64
FTA Goals          int64
FT Result         object
HTH Goals        float64
HTA Goals        float64
HT Result         object
Referee           object
H Shots          float64
A Shots          float64
H SOT            float64
A SOT            float64
H Fouls          float64
A Fouls          float64
H Corners        float64
A Corners        float64
H Yellow         float64
A Yellow         float64
H Red            float64
A Red            float64
Display_Order      int64
League            object
dtype: object

2. **Data** **Preprocessing**

2.1 Checking for the missing & duplicate value

In [19]:
# Checking for the missing values:
missingValues = df.isnull().sum()
print(missingValues)

# Checking for the duplicate values:
duplicateValues = df.duplicated().sum()
print(duplicateValues)

Date                0
Season              0
HomeTeam            0
AwayTeam            0
FTH Goals           0
FTA Goals           0
FT Result           0
HTH Goals         924
HTA Goals         924
HT Result         924
Referee          2824
H Shots          2824
A Shots          2824
H SOT            2824
A SOT            2824
H Fouls          2824
A Fouls          2824
H Corners        2824
A Corners        2824
H Yellow         2824
A Yellow         2824
H Red            2824
A Red            2824
Display_Order       0
League              0
dtype: int64
0

2.2 Cleaning the missing values

In [25]:
# Removing too many missing column values (referees and additional statistics)
df_cleaning = df.drop(columns = ['Referee','H Shots','A Shots','H SOT','A SOT','H Fouls','A Fouls','H Corners','A Corners','H Yellow','A Yellow','H Red','A Red'])

# Deleting rows that have empty values in important columns (HTH Goals, HTA Goals, HT Result)
df_cleaning = df_cleaning.dropna(subset = ['HTH Goals','HTA Goals','HT Result'])

# Double check wheather there are still missing values
df_cleaning.isnull().sum()

Date             0
Season           0
HomeTeam         0
AwayTeam         0
FTH Goals        0
FTA Goals        0
FT Result        0
HTH Goals        0
HTA Goals        0
HT Result        0
Display_Order    0
League           0
dtype: int64

3. **Data Analyzing**

In [29]:
# Calculate the average number of goals per match:
avg_goals = df_cleaning[['FTH Goals', 'FTA Goals']].mean()
print(avg_goals)

# Calculate the winning percentage of home, away and draw teams
win_percentages = df_cleaning['FT Result'].value_counts(normalize=True) * 100
print(win_percentages)

FTH Goals    1.536201
FTA Goals    1.164752
dtype: float64
FT Result
H    46.005878
A    28.773711
D    25.220411
Name: proportion, dtype: float64